{
    "name": "gpu_config",
    "bn": {
        "momentum": 0.1,
        "eps": 0.001
    },
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 3,
        "out_channels": 40,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "feature_mix_layer": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "in_channels": 432,
        "out_channels": 1728,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "classifier": {
        "name": "LinearLayer",
        "in_features": 1728,
        "out_features": 1000,
        "bias": true,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 40,
                "out_channels": 24,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 1
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 32,
                "kernel_size": 5,
                "stride": 2,
                "expand_ratio": 3
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 56,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 3
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 56,
                "out_channels": 56,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 56,
                "out_channels": 56,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 56,
                "out_channels": 56,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 56,
                "out_channels": 56,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 56,
                "out_channels": 112,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 6
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 112,
                "out_channels": 112,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 112,
                "out_channels": 112,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 112,
                "out_channels": 112,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 3
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 112,
                "out_channels": 112,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 112,
                "out_channels": 128,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 6
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "stride": 1
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 128,
                "out_channels": 128,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 128,
                "out_channels": 128,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 128,
                "out_channels": 128,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 128,
                "out_channels": 128,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 3
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 128,
                "out_channels": 128,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 128,
                "out_channels": 256,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 6
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 256,
                "out_channels": 256,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 256,
                "out_channels": 256,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 256,
                "out_channels": 256,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 256,
                "out_channels": 256,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 256,
                "out_channels": 256,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 6
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 256,
                "out_channels": 256,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 256,
                "out_channels": 432,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6
            },
            "shortcut": null
        }
    ]
}